<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{> header}}
	</head>
	<body>
					<div class="row">
						<div class="col-md-6">


							 <form action="burn" method="post">
							 	<div class="form-group">
							 		<label>Cal burned on Weightlifting</label>
									<input type="text" name="wlCal" value="" class="form-control">
							 	</div>
								<div class="form-group">
							 		<label>Cal burned on Cardio</label>
									<input type="text" name="carCal" value="" class="form-control">
							 	</div>
								<div class="">
									<input type="submit" value="Add cal burned" class="btn btn-secondary btn-lg">
								</div>
							 </form>
							 <!-- <div class="">
							 	wl cal {{wlCal}}
							 </div>
							 <div class="">
							 	cardio {{carCal}}
							 </div> -->
						 </div>
						</div>
					</div>
	</body>
</html>
